# C++ objects and libs
*.vsidx
*.json
/.*.json
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.suo
# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
/release/moc_predefs.h.cbt
*.obj
*.tlog
*.log
*.idx
*.bak
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.props
*.cbt
*.recipe
*.exe
*.ilk
*.pdb
*.res
*.bmp
*.qm
*.zip
/build
/debug
/release


